.header{
    width: 100%;
    height: 8%;
    background: lightgray;
    position: absolute;
}

.title{
    width: 100px;
    height: 8%;
    background: skyblue;
    font-size: 100%;
    margin-top: 15%;
    display: inline-block;
}

.total{
    width: 100px;
    height: 8%;
    background: skyblue;
    font-size: 100%;
    margin-top: 15%;
    margin-left: 95%;
    display: inline-block;
}