.background {
    width: 90%;
    height: 90%;
    background: lightgray;
}



.chgBtn1 {
    width: 100px;
    height: 30px;
    position: absolute;
    text-align: center;
    background: gray;
}

.chgBtn2 {
    width: 100px;
    height: 30px;
    position: absolute;
    text-align: center;
    margin-left: 100px;
    background: red;
}

.chgBtn3 {
    width: 100px;
    height: 30px;
    position: absolute;
    text-align: center;
    margin-left: 200px;
    background: skyblue;
}

.board {
    width: 100%;
    height: 100%;
    margin-top: 200px;
    display: inline-block;
    background: deeppink;
}

